In [1]:
# Getting Started with Pandas
# Objective: Introduce students to using Pandas for data analysis by loading data into Pandas
# DataFrames.

# Question 1: Importing Pandas and Loading a CSV File
# 1. Open your Jupyter Notebook or a Python environment.
# 2. Import the pandas library.
# 3. Load a CSV file into a DataFrame.




# Question 2: Displaying the First Few Rows
# 4. Use the head() method to display the first five rows of the DataFrame.





# Question 3: Basic Data Information
# 5. Use the info() method to get a concise summary of the DataFrame.

In [3]:
# Import the pandas library
import pandas as pd

# Load a CSV file into a DataFrame
# Replace 'your_file.csv' with the actual path to your CSV file
df = pd.read_csv('student_scores.csv')

# Now 'df' is a Pandas DataFrame containing the data from your CSV file!

In [4]:
# Use the head() method to display the first five rows
print(df.head())

# You can also specify a different number of rows to display, like the first 10:
# print(df.head(10))

   Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType TestPrep  \
0           0  female         NaN   bachelor's degree      standard     none
1           1  female     group C        some college      standard      NaN
2           2  female     group B     master's degree      standard     none
3           3    male     group A  associate's degree  free/reduced     none
4           4    male     group C        some college      standard     none

  ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings TransportMeans  \
0             married     regularly          yes         3.0     school_bus
1             married     sometimes          yes         0.0            NaN
2              single     sometimes          yes         4.0     school_bus
3             married         never           no         1.0            NaN
4             married     sometimes          yes         0.0     school_bus

  WklyStudyHours  MathScore  ReadingScore  WritingScore
0            < 5         71            71            74
1         5 - 10         69            90            88
2            < 5         87            93            91
3         5 - 10         45            56            42
4         5 - 10         76            78            75

In [5]:
# Use the info() method to get a concise summary of the DataFrame
df.info()

# This will show you the number of rows, columns, data types of each column,
# and the memory usage of the DataFrame. It's a great way to get a quick
# overview of your data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           30641 non-null  int64
 1   Gender               30641 non-null  object
 2   EthnicGroup          28801 non-null  object
 3   ParentEduc           28796 non-null  object
 4   LunchType            30641 non-null  object
 5   TestPrep             28811 non-null  object
 6   ParentMaritalStatus  29451 non-null  object
 7   PracticeSport        30010 non-null  object
 8   IsFirstChild         29737 non-null  object
 9   NrSiblings           29069 non-null  float64
 10  TransportMeans       27507 non-null  object
 11  WklyStudyHours       29686 non-null  object
 12  MathScore            30641 non-null  int64
 13  ReadingScore         30641 non-null  int64
 14  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 3.5+ MB

In [ ]:
# Data Inspection & Selection
# Objective: Learn how to inspect data and select specific data points.

# Question 1: Inspecting Column Data Types
# 6. Use the dtypes attribute to inspect the data types of each column.




# Question 2: Selecting Columns
# 7. Select a single column from the DataFrame.





# Question 3: Slicing Rows
# 8. Select specific rows using slicing.

In [ ]:
# Data Cleaning & Manipulation
# Objective: Practice cleaning data and manipulating DataFrames.

# Question 1: Handling Missing Values
# 9. Use the fillna() method to fill missing values with a specific value.




# QUestion 2: Renaming Columns
# 10. Change the names of specific columns using rename().




# Question 3: Dropping Duplicates
# 11. Remove duplicate rows from the DataFrame.

In [6]:
# Assuming your DataFrame is named 'df'
print(df.dtypes)

# This will output a Series where the index is the column name
# and the values are the data types (e.g., int64, float64, object, datetime64[ns]).

Unnamed: 0               int64
Gender                  object
EthnicGroup             object
ParentEduc              object
LunchType               object
TestPrep                object
ParentMaritalStatus     object
PracticeSport           object
IsFirstChild            object
NrSiblings             float64
TransportMeans          object
WklyStudyHours          object
MathScore                int64
ReadingScore             int64
WritingScore             int64
dtype: object

In [8]:
# Select a column named 'col_name'
single_column = df['Gender']
print(single_column.head()) # Display the first few rows of the selected column
print(type(single_column))   # This will show that it's a Pandas Series

0    female
1    female
2    female
3      male
4      male
Name: Gender, dtype: object
<class 'pandas.core.series.Series'>

In [10]:
math_score_column = df['MathScore']
print("\nFirst 5 rows of the 'MathScore' column:")
print(math_score_column.head())
print(f"\nData type of 'MathScore' column: {type(math_score_column)}")

First 5 rows of the 'MathScore' column:
0    71
1    69
2    87
3    45
4    76
Name: MathScore, dtype: int64

Data type of 'MathScore' column: <class 'pandas.core.series.Series'>

In [11]:
first_three_rows = df.iloc[0:3]
print("\nFirst 3 rows of the DataFrame:")
print(first_three_rows)

First 3 rows of the DataFrame:
   Unnamed: 0  Gender EthnicGroup         ParentEduc LunchType TestPrep  \
0           0  female         NaN  bachelor's degree  standard     none
1           1  female     group C       some college  standard      NaN
2           2  female     group B    master's degree  standard     none

  ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings TransportMeans  \
0             married     regularly          yes         3.0     school_bus
1             married     sometimes          yes         0.0            NaN
2              single     sometimes          yes         4.0     school_bus

  WklyStudyHours  MathScore  ReadingScore  WritingScore
0            < 5         71            71            74
1         5 - 10         69            90            88
2            < 5         87            93            91

In [12]:
rows_5_to_9 = df.iloc[5:10]
print("\nRows from index 5 to 9:")
print(rows_5_to_9)

Rows from index 5 to 9:
   Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType  \
5           5  female     group B  associate's degree      standard
6           6  female     group B        some college      standard
7           7    male     group B        some college  free/reduced
8           8    male     group D         high school  free/reduced
9           9  female     group B         high school  free/reduced

    TestPrep ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings  \
5       none             married     regularly          yes         1.0
6  completed             widowed         never           no         1.0
7       none             married     sometimes          yes         1.0
8  completed              single     sometimes           no         3.0
9       none             married     regularly          yes         NaN

  TransportMeans WklyStudyHours  MathScore  ReadingScore  WritingScore
5     school_bus         5 - 10         73            84            79
6        private         5 - 10         85            93            89
7        private           > 10         41            43            39
8        private           > 10         65            64            68
9        private            < 5         37            59            50

In [13]:
every_other_row = df.iloc[::2]
print("\nEvery other row from the beginning (first 5 shown):")
print(every_other_row.head())

Every other row from the beginning (first 5 shown):
   Unnamed: 0  Gender EthnicGroup         ParentEduc     LunchType   TestPrep  \
0           0  female         NaN  bachelor's degree      standard       none
2           2  female     group B    master's degree      standard       none
4           4    male     group C       some college      standard       none
6           6  female     group B       some college      standard  completed
8           8    male     group D        high school  free/reduced  completed

  ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings TransportMeans  \
0             married     regularly          yes         3.0     school_bus
2              single     sometimes          yes         4.0     school_bus
4             married     sometimes          yes         0.0     school_bus
6             widowed         never           no         1.0        private
8              single     sometimes           no         3.0        private

  WklyStudyHours  MathScore  ReadingScore  WritingScore
0            < 5         71            71            74
2            < 5         87            93            91
4         5 - 10         76            78            75
6         5 - 10         85            93            89
8           > 10         65            64            68

In [14]:
df_filled_na = df.fillna('Unknown')
print("DataFrame after filling missing values:")
print(df_filled_na.head())

DataFrame after filling missing values:
   Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType TestPrep  \
0           0  female     Unknown   bachelor's degree      standard     none
1           1  female     group C        some college      standard  Unknown
2           2  female     group B     master's degree      standard     none
3           3    male     group A  associate's degree  free/reduced     none
4           4    male     group C        some college      standard     none

  ParentMaritalStatus PracticeSport IsFirstChild NrSiblings TransportMeans  \
0             married     regularly          yes        3.0     school_bus
1             married     sometimes          yes        0.0        Unknown
2              single     sometimes          yes        4.0     school_bus
3             married         never           no        1.0        Unknown
4             married     sometimes          yes        0.0     school_bus

  WklyStudyHours  MathScore  ReadingScore  WritingScore
0            < 5         71            71            74
1         5 - 10         69            90            88
2            < 5         87            93            91
3         5 - 10         45            56            42
4         5 - 10         76            78            75

In [15]:
df_filled_specific = df.fillna({'NrSiblings': 0, 'ParentEduc': 'Not Reported'})
print("\nDataFrame after filling missing values in specific columns:")
print(df_filled_specific.head())

DataFrame after filling missing values in specific columns:
   Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType TestPrep  \
0           0  female         NaN   bachelor's degree      standard     none
1           1  female     group C        some college      standard      NaN
2           2  female     group B     master's degree      standard     none
3           3    male     group A  associate's degree  free/reduced     none
4           4    male     group C        some college      standard     none

  ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings TransportMeans  \
0             married     regularly          yes         3.0     school_bus
1             married     sometimes          yes         0.0            NaN
2              single     sometimes          yes         4.0     school_bus
3             married         never           no         1.0            NaN
4             married     sometimes          yes         0.0     school_bus

  WklyStudyHours  MathScore  ReadingScore  WritingScore
0            < 5         71            71            74
1         5 - 10         69            90            88
2            < 5         87            93            91
3         5 - 10         45            56            42
4         5 - 10         76            78            75

In [16]:
df_renamed = df.rename(columns={'ParentEduc': 'ParentalEducation', 'MathScore': 'MathematicsScore'})
print("\nDataFrame with renamed columns:")
print(df_renamed.head())

DataFrame with renamed columns:
   Unnamed: 0  Gender EthnicGroup   ParentalEducation     LunchType TestPrep  \
0           0  female         NaN   bachelor's degree      standard     none
1           1  female     group C        some college      standard      NaN
2           2  female     group B     master's degree      standard     none
3           3    male     group A  associate's degree  free/reduced     none
4           4    male     group C        some college      standard     none

  ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings TransportMeans  \
0             married     regularly          yes         3.0     school_bus
1             married     sometimes          yes         0.0            NaN
2              single     sometimes          yes         4.0     school_bus
3             married         never           no         1.0            NaN
4             married     sometimes          yes         0.0     school_bus

  WklyStudyHours  MathematicsScore  ReadingScore  WritingScore
0            < 5                71            71            74
1         5 - 10                69            90            88
2            < 5                87            93            91
3         5 - 10                45            56            42
4         5 - 10                76            78            75

In [17]:
column_mapping = {'ReadingScore': 'Reading_Score', 'WritingScore': 'Writing_Score'}
df_renamed_multiple = df.rename(columns=column_mapping)
print("\nDataFrame with more renamed columns:")
print(df_renamed_multiple.head())

DataFrame with more renamed columns:
   Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType TestPrep  \
0           0  female         NaN   bachelor's degree      standard     none
1           1  female     group C        some college      standard      NaN
2           2  female     group B     master's degree      standard     none
3           3    male     group A  associate's degree  free/reduced     none
4           4    male     group C        some college      standard     none

  ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings TransportMeans  \
0             married     regularly          yes         3.0     school_bus
1             married     sometimes          yes         0.0            NaN
2              single     sometimes          yes         4.0     school_bus
3             married         never           no         1.0            NaN
4             married     sometimes          yes         0.0     school_bus

  WklyStudyHours  MathScore  Reading_Score  Writing_Score
0            < 5         71             71             74
1         5 - 10         69             90             88
2            < 5         87             93             91
3         5 - 10         45             56             42
4         5 - 10         76             78             75

In [18]:
duplicates = df.duplicated()
print("\nBoolean Series indicating duplicate rows:")
print(duplicates.head())
print(f"\nNumber of duplicate rows: {duplicates.sum()}")

Boolean Series indicating duplicate rows:
0    False
1    False
2    False
3    False
4    False
dtype: bool

Number of duplicate rows: 0

In [20]:
df_dropped_subset = df.drop_duplicates(subset=['Gender', 'EthnicGroup'])
print("\nDataFrame after dropping duplicates based on 'Gender' and 'EthnicGroup':")
print(df_dropped_subset.head())

DataFrame after dropping duplicates based on 'Gender' and 'EthnicGroup':
   Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType TestPrep  \
0           0  female         NaN   bachelor's degree      standard     none
1           1  female     group C        some college      standard      NaN
2           2  female     group B     master's degree      standard     none
3           3    male     group A  associate's degree  free/reduced     none
4           4    male     group C        some college      standard     none

  ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings TransportMeans  \
0             married     regularly          yes         3.0     school_bus
1             married     sometimes          yes         0.0            NaN
2              single     sometimes          yes         4.0     school_bus
3             married         never           no         1.0            NaN
4             married     sometimes          yes         0.0     school_bus

  WklyStudyHours  MathScore  ReadingScore  WritingScore
0            < 5         71            71            74
1         5 - 10         69            90            88
2            < 5         87            93            91
3         5 - 10         45            56            42
4         5 - 10         76            78            75

In [ ]:
# Data Aggregation & Exporting
# Objective: Aggregate data and export the results.

# Question 1: Grouping and Aggregating Data
# 12. Group data by a specific column and calculate the mean for each group.





# Question 2: Exporting Data to CSV
# 13. Export the DataFrame to a new CSV file.





# Question 3: Aggregating with Multiple Functions
# 14. Apply several aggregate functions to the grouped data.

In [21]:
grouped_by_gender = df.groupby('Gender')[['MathScore', 'ReadingScore', 'WritingScore']].mean()
print("Mean scores by Gender:")
print(grouped_by_gender)

Mean scores by Gender:
        MathScore  ReadingScore  WritingScore
Gender
female  64.080654     72.853216     72.856457
male    69.069856     65.854571     63.920418

In [23]:
df_dropped_subset.to_csv('subset_duplicates_removed.csv', index=False)
print("\nDataFrame 'df_dropped_subset' has been exported to 'subset_duplicates_removed.csv' (without the index).")

DataFrame 'df_dropped_subset' has been exported to 'subset_duplicates_removed.csv' (without the index).

In [24]:
aggregated_multiple = df.groupby('ParentEduc')['MathScore'].agg(['count', 'mean', 'std'])
print("\nMathScore aggregation (count, mean, std) by Parent Education:")
print(aggregated_multiple)

MathScore aggregation (count, mean, std) by Parent Education:
                    count       mean        std
ParentEduc
associate's degree   5550  68.365586  15.156415
bachelor's degree    3386  70.466627  14.920218
high school          5687  64.435731  14.956287
master's degree      2023  72.336134  14.699553
some college         6633  66.390472  15.264104
some high school     5517  62.584013  15.224155